* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.searchBar {
  display: flex;
  align-items: center;
  padding: 15px 40px 15px 20px;
  gap: 10px;
  width: 200px;
  height: 50px;
  background: #000000;
  box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 30px;
}
input {
  background-color: transparent;
  border: none;
  width: 100px;
  height: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #f2ff93;
}
input:focus {
  outline: none;
}
.headerIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notifications {
  padding: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f588;
  box-shadow: 1px 1px 2px rgba(255, 255, 155, 0.3),
    -1px -1px 2px rgba(211, 211, 117, 0.5),
    inset -1px 1px 2px rgba(211, 211, 117, 0.2),
    inset 1px -1px 2px rgba(211, 211, 117, 0.2),
    inset -1px -1px 2px rgba(255, 255, 155, 0.9),
    inset 1px 1px 3px rgba(211, 211, 117, 0.9);
  border-radius: 100px;
}
.growthStatus {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin: 15px 0px;
}
.growthStatus > div {
  width: 155px;
  height: 112px;
  border-radius: 16px;
  padding: 10px;
}
.yellowCard,
.yellowCard > h1,
.yellowCard > p {
  color: #1c1c1c;
  background: #f8f988;
}
.blackCard,
.blackCard > h1,
.blackCard > p {
  background: #000000;
  color: #f8f988;
}
.yellowCard > h1,
.blackCard > h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin: 10px;
}
.yellowCard > p,
.blackCard > p {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.yellowCard > p,
.blackCard > p {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
}
.yellowCard > p > span,
.blackCard > p > span {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  flex: none;
  order: 0;
}
@media (min-width: 768px) {
  .growthStatus > div {
    width: 210px;
    height: 112px;
  }
  .header {
    padding: 10px 0px;
  }
  .growthStatus {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    margin: 15px 0px;
  }
  .searchBar {
    width: 432px;
    height: 60px;
  }
  .profile > img {
    width: 58px;
    height: 58px;
  }
  .notifications {
    width: 60px;
    height: 60px;
  }
}
